httplib2>=0.7
pysimplesoap==1.08.8
fpdf>=1.7.2
dbf>=0.88.019
Pillow>=2.0.0
xmltodict
dicttoxml==1.7.4
elaphe
M2Crypto==0.24.0
base64
hashlib
cchardet
suds
SOAPpy
signxml==1.0.1
textwrap
cStringIO
pysftp==0.2.8
urllib3==1.7.1
requests>=2.6.0
xlsxwriter
#Hasta Aqui
acme-tiny
IPy
woocommerce
magento
psycogreen
pymssql
geopy==0.95.1 BeautifulSoup pyOpenSSL suds cryptography certifi
openerp-client-lib
fabric
erppeek
fabtools
lxml
xlwt
xlrd
BeautifulSoup4
python-magic
